<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.termux.geminibridge"
    android:versionCode="4"
    android:versionName="1.3">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <package android:name="com.google.android.apps.bard" />
        <package android:name="com.google.android.googlequicksearchbox" />
    </queries>

    <application
        android:label="Gemini Bridge"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|uiMode"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

            <!-- Intercept ZUI Power Button Long Press -->
            <intent-filter android:priority="1000">
                <action android:name="com.lenovo.levoice.action.VOICE_POWER_WAKEUP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VOICE_COMMAND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
